<!-- USER -->
<table>
  <thead>
    <tr>
      <td>
        <div class="header-space">&nbsp;</div>
      </td>
    </tr>
  </thead>
  <tbody *ngFor="let user of user">
    <tr>
      <td colspan="3">
        <h1>User Information</h1>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-2">
              <h4>Name:</h4>
            </div>
            <div class="mt-2 mr-8">
              <label class="text-xl font-medium">{{ user.firstName }} {{ user.lastName }} </label>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-2">
              <h4>Email:</h4>
            </div>
            <div class="mt-2 mr-8">
              <label class="text-xl font-medium">{{ user.emailAddress }}</label>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-2">
              <h4>Contact:</h4>
            </div>
            <div class="mt-2">
              <label class="text-xl font-medium">{{ user.contact }}</label>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="content">
          <div class="flex flex-row">
            <div class="mr-2">
              <h4>Country:</h4>
            </div>
            <div class="mt-1">
              <label class="text-xl font-medium">{{ user.country }}</label>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mr-2">
              <h4>City:</h4>
            </div>
            <div class="mt-1">
              <label class="text-xl font-medium">{{ user.city }}</label>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mr-2">
              <h4>Address:</h4>
            </div>
            <div class="mt-1">
              <label class="text-xl font-medium">{{ user.homeAddress }}</label>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="content">
          <div class="flex flex-row">
            <div class="mr-2">
              <h4>Zip Code:</h4>
            </div>
            <div class="mt-1">
              <label class="text-xl font-medium">{{ user.zipCode }}</label>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mr-2">
              <h4>Card:</h4>
            </div>
            <div class="mt-1 mr-2">
              <label class="text-xl font-medium">{{ user.creditCardType }}</label>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mr-2">
              <h4>Number:</h4>
            </div>
            <div class="mt-1">
              <label class="text-xl font-medium">{{ user.creditCard }}</label>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <div class="footer-space">&nbsp;</div>
      </td>
    </tr>
  </tfoot>
</table>

<!-- CART -->
<h1>Cart Details</h1>
<table>
  <thead>
    <tr>
      <td>
        <!-- <div class="header-space">&nbsp;</div> -->
        ID
      </td>
      <td>Name</td>
      <td>Unit Price</td>
      <td>Quantity</td>
      <td>Total Price</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cart">
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-8">
              <h4>{{ item.id }}</h4>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-8">
              <h4>{{ item.title }}</h4>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-8">
              <h4>{{ item.price }}</h4>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-8">
              <h4>{{ item.quantity }}</h4>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-8">
              <h4>{{ item.totalPrice | number: '1.2-2' }}</h4>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td class="text-right">
        <h3>TOTAL:</h3>
      </td>
      <td>
        <h3>${{ calculateTotal() | number: '1.2-2' }}</h3>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <div class="footer-space">&nbsp;</div>
      </td>
    </tr>
  </tfoot>
</table>

<div class="header">
  <h1>CHECKOUT FORM</h1>
</div>
<div class="footer">
  <p>
    Order ID: 2389948812 <br />
    Transaction ID: 9948213244 <br />
    Invoice: KC-INV-48832
  </p>
</div>
