<!-- USER -->
<div class="header">
  <img src="./../../assets/images/logo.png" width="100" />
  <h1>Official Receipt</h1>
</div>
<table>
  <tbody *ngFor="let user of user">
    <tr>
      <td colspan="3">
        <h2>User Information</h2>
      </td>
    </tr>
    <tr>
      <td colspan="3"><hr /></td>
    </tr>
    <tr>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-2">
              <h5>Name:</h5>
            </div>
            <div class="mt-2 mr-8">
              <label class="text-2xl font-medium">{{ user.firstName }} {{ user.lastName }} </label>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-2">
              <h5>Email:</h5>
            </div>
            <div class="mt-2 mr-8">
              <label class="text-xl font-medium">{{ user.emailAddress }}</label>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-2">
              <h5>Contact:</h5>
            </div>
            <div class="mt-2">
              <label class="text-xl font-medium">{{ user.contact }}</label>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <div class="content">
          <div class="flex flex-row">
            <div class="mr-2">
              <h5>Address:</h5>
            </div>
            <div class="mt-1">
              <label class="text-xl font-medium">{{ user.homeAddress }}, {{ user.city }}, {{ user.country }}</label>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mr-2">
              <h5>Zip Code:</h5>
            </div>
            <div class="mt-1">
              <label class="text-xl font-medium">{{ user.zipCode }}</label>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mr-2">
              <h5>Credit Card:</h5>
            </div>
            <div class="mt-1 mr-2">
              <label class="text-xl font-medium">{{ user.creditCardType }}</label>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div>
            <div class="mr-2">
              <h5>Credit Card No:</h5>
            </div>
            <div class="mt-1">
              <label class="text-xl font-medium">{{ user.creditCard }}</label>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td colspan="3"><hr /></td>
    </tr>
  </tfoot>
</table>

<!-- CART -->
<h2>Cart Details</h2>
<table>
  <thead>
    <tr>
      <td colspan="5"><hr /></td>
    </tr>
    <tr>
      <td>
        <!-- <div class="header-space">&nbsp;</div> -->
        ID
      </td>
      <td>Item</td>
      <td>Unit Price</td>
      <td>Quantity</td>
      <td>Total Price</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cart">
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-8">
              <b>{{ item.id }}</b>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-8">
              <b>{{ item.title }}</b>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-8">
              <b>${{ item.price }}</b>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-8 text-center">
              <b>{{ item.quantity }} pcs</b>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="content">
          <div class="flex flex-row">
            <div class="mt-2 mr-8">
              <b>${{ item.totalPrice | number: '1.2-2' }}</b>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="bg-accent text-white">
      <td colspan="2"></td>
      <td class="text-right">
        <h3 class="mr-2">TOTAL:</h3>
      </td>
      <td>
        <h3>${{ calculateTotal() | number: '1.2-2' }}</h3>
      </td>
      <td></td>
    </tr>
  </tbody>
  <tfoot class="mt-2">
    <tr>
      <td colspan="5">
        <div class="footer">
          <p>
            Order ID: 2389948812 <br />
            Transaction ID: 9948213244 <br />
            Invoice: KC-INV-48832
          </p>
          <img src="./../../assets/images/logo.png" width="100" />
        </div>
      </td>
    </tr>
  </tfoot>
</table>
